project-addons/mrp_webpanel_app/prueba
project-addons/mrp_webpanel_app/mrp_webpanel_app/settings.py
project-addons/mrp_webpanel_app/mrp_webpanel_app/wsgi.py
openerp-repos/
var/
parts/
lib/
include/
eggs/
develop-eggs/
downloads/
/data/
etc/
bin/
sandbox/
openerp*
.installed.cfg
.idea
upgrade.py
*.log
*.pyc
atlassian-ide-plugin.xml
*~
devel_*
*.out